.postsBlock {

}

.title {
  color: aqua;
  font-size: 30px;
  text-transform: uppercase;
}

.textarea {
  display: flex;
  align-items: self-end;
}

.textarea > button {
  padding: 5px 10px;
}

.post {
  color: green;
}

.item {
  margin: 20px 0;
}