.postsBlock {

}

.title {
  color: aqua;
  font-size: 30px;
  text-transform: uppercase;
}

.textarea {
  display: flex;
  align-items: self-end;
}

.textarea > a > img {
  display: block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.textarea > button {
  padding: 5px 10px;
}

.post {
  color: green;
}

.item {
  margin: 20px 0;
}